*{
    font-style: italic;
}
body {
    background-color: aliceblue;
    color:blue ;
}
h1{
    color: red;
}
h3{
    color: yellow;
}
h3{
    font-size:60px ;
}
h1{
    font-size: 50px;
}
li{
    display:inline-block;
}



