p{
    border-style:dashed ;
    border-color: blue;
    border-width: 5px;
}
p{
  border: dashed pink 3px; 
}
h3{
    text-align: left;
}
h1{
    text-align: left;
}
li{
border: blue solid 10px;
padding:20px;
margin: 20px;
}   

#first{
    border: dashed aqua 3px;
}
.dash{
    border:dashed red 3px;
}
.yafa{
    border:dashed black 20px;
}
p {
    text-transform: capitalize;
    }